vendor
var/*
app/etc/modules.php
composer.lock
app/etc/security
app/etc/config.php
app/etc/redis.php
app/etc/rmq.php
app/etc/aws.php
app/etc/dynamo.php
.idea
public/media
public/.htaccess
app/design
package-lock.json
app/console/UserTask.php
app/console
generation